
@{
    ViewData["Title"] = "Homework1";
}

<h1>作業1 下載及引用 travel.js</h1>


<div class="row row-cols-1 row-cols-md-3 g-4" id="iddiv">
    <div class="col">
        <div class="card h-100">
            <img src="..." class="card-img-top" alt="..." id="idimg">
            <div class="card-body">
                <h5 class="card-title" id="idh5">Card title</h5>
                <p class="card-text" id="idp">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
            <div class="card-footer">
                <small class="text-body-secondary" id="idsmall">Last updated 3 mins ago</small>
            </div>
        </div>
    </div>
</div>

@section Styles{

}
@section Scripts{
    <script id="scr1" src="~/js/travel.js"></script>
    <script>
        const scr =  document.getElementById(`scr1`);
        const tb1 = document.querySelector(`#table1>tbody`);
        const divv = document.getElementById(`iddiv`);
        console.log(`divv = ` + divv);

        //console.log(spots.CommonFormat.Section);
        //console.log(spots.CommonFormat.Section[0]);
        //console.log(spots.CommonFormat.Section[0].stitle);
        //console.log(spots.CommonFormat.Section[0].xbody);
        //console.log(spots.CommonFormat.Section[0].file.img);
        //console.log(spots.CommonFormat.Section[0].file.img[0]);
        //console.log(spots.CommonFormat.Section[0].file.img[0].text);



        console.log(`img = ` + spots.CommonFormat.Section[0].file.img[0].text);
        console.log(`img.description = ` + spots.CommonFormat.Section[0].file.img[0].description);
        console.log(`stitle = ` + spots.CommonFormat.Section[0].stitle);
        console.log(`xbody = ` + spots.CommonFormat.Section[0].xbody);
        
        const tra = spots.CommonFormat.Section.map((travel, bb, cc) => {
            console.log(`travel = ` + travel);
            console.log(`cc[0].file.img[0].text = ` + cc[0].file.img[0].text);
            const { file, stitle, xbody } = travel;
            const imgSrc = file.img.length > 0 ? file.img[0].text : 'default.jpg'; // 如果没有图片，使用默认图片
            //const imgp = file.img[0].["\u0040description"] ; 

            //const traimg = tra.file.img.map(ccc => {
            //    console.log(`traimg = ` + traimg);
            //    const { text } = ccc;
            //    return (
            //        `
            //                    <img src="${text}" class="card-img-top" alt="..." id="idimg">
            //                                `
            //    )
            //})
            // 解構賦值            
            return (
                `
<div class="col">
<div class="card h-100">
    <img src="${imgSrc}" class="card-img-top" alt="..." id="idimg">
<div class="card-body">
    <h5 class="card-title" id="idh5">${stitle}</h5>
    <p class="card-text" id="idp">${xbody}</p>
</div>
<div class="card-footer">
    <small class="text-body-secondary" id="idsmall">${stitle}</small>
</div>
</div>
</div>               
                `
            )
        })
        // 將生成的表格行字符串加入到 `tbody` 中
        divv.innerHTML = tra.join("");
    </script>
}